@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
  font-family: 'Roboto', 'Gill Sans';
}
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #636363;
}
main {
  background-color: #eeeeee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (width > 210mm) {
  section {
    width: 210mm;
  }
}
section {
  background-color: #fff;
  max-width: 210mm;
  height: 270mm;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signature {
  max-width: 300px;
}
input[type='text'] {
  max-width: 200px;
}
input[type='date'] {
  max-width: 200px;
}
